:root {
    --first-color: #5c0000;
    --second-color: #ffc09f;
    --third-color: #ff8193;
    --fourth-color: #ada0a0;
    --fifth-color: #5b4e4e;
    --sixth-color: #adf7b6;
    --seventh-color: #4ab395;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fourth-color);
    font-family: American Typewriter, serif;
}

/* Header and Nav bar starts */

header {
    padding: 20px 35px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--third-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.56vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--second-color);
    text-shadow: none;
}

/* Header and nav bar end */

/* Footer start */

footer {
    background-color: var(--first-color);
    padding: 40px 34px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--third-color);
    font-size: 26px;
}

/* Footer end */

/* Hero starts */

.hero {
    background-image: url('../images/portfolio-hero.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-comment {
color: var(--sixth-color);
}

/* Hero end */

/* Section-title starts */

.section-title {
    font-size: 35px;
    border-bottom: 3px solid;
    color: var(--second-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.the-border {
    border-color: var(--fifth-color);
}

/* Section-title end*/

/* About me "bio" start */

.bio img {
    border-radius: 15px;
    border: 4px solid var(--first-color);
    flex: 1 12%;
    margin-right: 20px;
}

.bio p {
    font-size: 25px;
    text-align: center;
    color: var(--fifth-color);
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
}